<ngx-scrolltop theme="green"> ↑ </ngx-scrolltop>
<div tuiCardLarge tuiAppearance="positive">
    <div class="row" >
        <div class="col-md-3">
            <div tuiCardLarge>
                <h3>VERTEX</h3>
                <div tuiCell>
                    <div tuiCardMedium>
                        <tui-avatar src="@tui.user"/>
                        <div tuiTitle>
                            <span tuiSubtitle>
                                At VERTEX, we believe that every business has the potential to  thrive with the right guidance
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="d-flex">
                    <tui-avatar class="m-1" size="s" src="@tui.user"/>
                    <tui-avatar class="m-1" size="s" src="@tui.user"/>
                    <tui-avatar class="m-1" size="s" src="@tui.user"/>
                    <tui-avatar class="m-1" size="s" src="@tui.user"/>
                </div>
            </div>
                
        </div>
    
    
        <div class="col-md-3">
            <div class="card" tuiCardLarge>
                <h3>Quick Links</h3>
                <div class="" type="none">
                    <ul style="color:red" >
                        <li>About Us</li>
                        <li>Our Services</li>
                        <li>Case Studies</li>
                        <li>Pricing Plan</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-3">
            <div tuiCardLarge>
                <h3>Contact Us</h3>
                <div tuiCell>
                    <tui-icon icon="@tui.phone-call" />
                    <div tuiTitle>0712538223</div>
                </div>
    
                <div tuiCell>
                    <tui-icon icon="@tui.map-pin" />
                    <div tuiTitle>0712538223</div>
                </div>
    
                <div tuiCell>
                    <tui-icon icon="@tui.mail" />
                    <div tuiTitle>0712538223</div>
                </div>
    
                <div tuiCell>
                    <tui-icon icon="@tui.globe" />
                    <div tuiTitle>0712538223</div>
                </div>
            </div>
            
        </div>
    
    
        <div class="col-md-3">
            <div tuiCardLarge class="d-flex">
                <div class="row">
                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div tuiCardMedium style="inline-size: 0.5rem;">
                            hi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>