    <div class="row d-flex">
        <div class="card" [style.margin]="'0'" tuiAppearance="positive"  >
    
    <om-dotpattern patternColor="green" tuiAppearance="positive" [style.width]="'100%'">
        <div class="row dots m-2">
            <div class="col-md-6 col-12 " >
                <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: black;">
                    <strong>
                        Our Tech Stack
                    </strong>
                </tui-chip>
                <div class="beam-wrapper" >
                <div class="icon" #RefItem1 tuiAppearance="positive">
                  <tui-avatar  tuiAvatarOutline src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRlXkwasX3CRBW5UwURT9kVjgN21eMyq9nl-BiCVe6PGdZafm_lvlNC1qmkPbrBGxFTJk&usqp=CAU" />
                </div>
                <div class="icon" #RefItem2>
                    <tui-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbKgkvOLoQOTmdpdCuUVzXYALr2TkfXAOl9w&s" tuiAvatarOutline />
                </div>
                <div class="icon" #RefItem3>
                    <tui-avatar src="https://icon2.cleanpng.com/20180502/fgw/avshxd3t1.webp" tuiAvatarOutline />
                </div>
                <div class="center">
                  <div class="" #RefCenter>
                    <div tuiCardMedium style="background-image: url('calltoaction.webp');opacity: 1;background-size: cover;background-position: center;border-radius: 50px;"></div>
                  </div>
                </div>
                <div class="icon" #RefItem4>
                    <tui-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQbUy6_kKPlbyMKuGoe_yIue3ujdXLCXZiiw&s" tuiAvatarOutline />
                </div>
                <div class="icon" #RefItem5>
                    <tui-avatar src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png" tuiAvatarOutline />
                </div>
                <div class="icon" #RefItem6>
                    <tui-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-xJcvFr9kv-ZkLqUARtOVf1opACZ7gY1rjFzQvXd5odT2B0emlgKgwuO-hsjc30-TpYo&usqp=CAU" tuiAvatarOutline />
                </div>
          
                <om-connection-beam
                  [fromRef]="RefItem1"
                  [toRef]="RefCenter"
                  [curvature]="-50"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
                <om-connection-beam
                  [fromRef]="RefItem2"
                  [toRef]="RefCenter"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
                <om-connection-beam
                  [fromRef]="RefItem3"
                  [toRef]="RefCenter"
                  [curvature]="40"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
                <om-connection-beam
                  [fromRef]="RefItem4"
                  [toRef]="RefCenter"
                  [reverse]="true"
                  [curvature]="-50"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
                <om-connection-beam
                  [fromRef]="RefItem5"
                  [toRef]="RefCenter"
                  [reverse]="true"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
                <om-connection-beam
                  [fromRef]="RefItem6"
                  [toRef]="RefCenter"
                  [reverse]="true"
                  [curvature]="40"
                  [pathWidth]="4"
                  [pathColor]="'darkgreen'"
                  [gradientStartColor]="'yellowgreen'"
                  [gradientStopColor]="'green'"
                ></om-connection-beam>
              </div>
            </div>
            <div class="col-md-6 col-12 m-auto">
                <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: black;">
                    <strong>
                        Why Choose Vertex?
                    </strong>
                </tui-chip>
                <h3>
                    <strong>Shaping Tech Futures With Strategic Insights</strong>
                </h3>
                <p>
                    <strong>At Vertex, we pride ourselves of being a team of experienced developers dedicated to helping clients get tech solutions for their needs</strong>
                </p>
                <div tuiCardLarge class="stats">
                    <label tuiCell>
                        <h3 tuiTitle>
                            <strong>
                                Financial Delivered Growth
                            </strong>
                        </h3>
                        <div>
                            <strong>
                                99%
                            </strong>
                        </div>
                    </label>
                    <progress
                    tuiProgressBar
                    tuiAppearance="negative"
                    max="100"
                    [style.color]="'darkgreen'"
                    value="96">
    
                    </progress>
    
                    <label tuiCell>
                        <h3 tuiTitle>
                            <strong>
                                Financial Revenue Growth
                            </strong>
                        </h3>
                        <div>
                            <strong>
                                96%
                            </strong>
                        </div>
                    </label>
                    <progress
                    tuiProgressBar
                    tuiAppearance="positive"
                    max="100"
                    [style.color]="'darkgreen'"
                    value="94">
                    </progress>
                    <button tuiButton tuiRipple [style.background-color]="'yellowgreen'" appearance="positive">Request A Consultation</button>
                </div>
            </div>
        </div>
    
    
    
    
    
        <div class="row">
            <div class="col-md-6 col-12 m-auto">
                <tui-chip appearance="positive">About Vertex</tui-chip>
                <h3>
                    Innovative Solutions For Modern Technological Needs
                </h3>
                <p>In today's rapidly evolving tech landscape, businesses and individuals face unprecidented challenges and opportunities</p>
                <div tuiCardLarge class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                    </div>
                    <button tuiButton tuiRipple [style.background-color]="'yellowgreen'" appearance="positive">Get Started Now</button>
                </div>
            </div>
    
            <div class="col-md-6 col-12">
                <div style="opacity: 0.9;background-image: url('https://img.freepik.com/premium-psd/smart-investment-app-ui-kit_553413-1201.jpg?w=740');background-image: url('https://img.freepik.com/premium-psd/smart-investment-app-ui-kit_553413-1201.jpg?w=740');background-position: center;background-repeat: no-repeat,repeat;background-size: cover; background-blend-mode: luminosity;height:100%;
                " >
                </div>
            </div>
        </div>
    </om-dotpattern>
</div>
