<div class="card" [style.margin]="'0'">
    
    <om-dotpattern patternColor="darkgreen" tuiAppearance="positive" [style.width]="'100%'">
        <div class="row dots">
            <div class="col-md-6 col-12 ">
                <div style="opacity: 0.5;" class="uk-height-medium uk-background-cover uk-light"
                    sources="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80 650w,
                    https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=1300&h=866&q=80 1300w;
                            media: (min-width: 1200px)"
                    data-src="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80"
                    data-srcset="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80 650w,
                                https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=1300&h=866&q=80 1300w"
                    sizes="(min-width: 650px) 650px, 100vw" uk-img styl>
                    <h1>Background Image</h1>
                </div>
            </div>
            <div class="col-md-6 col-12 m-auto">
                <tui-chip appearance="positive">Why Choose Vertex?</tui-chip>
                <h3>
                    Shaping Tech Futures With Strategic Of Insights
                </h3>
                <p>
                    At Vertex, we pride ourselves of being a team of experienced developers dedicated to helping clients get tech solutions for their needs
                </p>
                <div tuiCardLarge class="stats">
                    <label tuiCell>
                        <h3 tuiTitle>
                            <strong>
                                Financial Delivered Growth
                            </strong>
                        </h3>
                        <div>
                            <strong>
                                99%
                            </strong>
                        </div>
                    </label>
                    <progress
                    tuiProgressBar
                    tuiAppearance="negative"
                    max="100"
                    [style.color]="'darkgreen'"
                    value="96">
    
                    </progress>
    
                    <label tuiCell>
                        <h3 tuiTitle>
                            <strong>
                                Financial Revenue Growth
                            </strong>
                        </h3>
                        <div>
                            <strong>
                                96%
                            </strong>
                        </div>
                    </label>
                    <progress
                    tuiProgressBar
                    tuiAppearance="positive"
                    max="100"
                    [style.color]="'darkgreen'"
                    value="94">
                    </progress>
                    <button tuiButton tuiRipple [style.background-color]="'yellowgreen'" appearance="positive">Request A Consultation</button>
                </div>
            </div>
        </div>
    
    
    
    
    
        <div class="row">
            <div class="col-md-6 col-12 m-auto">
                <tui-chip appearance="positive">About Vertex</tui-chip>
                <h3>
                    Innovative Solutions For Modern Technological Needs
                </h3>
                <p>In today's rapidly evolving tech landscape, businesses and individuals face unprecidented challenges and opportunities</p>
                <div tuiCardLarge class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <h4 tuiTitle>
                                <strong>99%</strong>
                                <span tuiSubtitle>
                                    Increase Profitability
                                </span>
                            </h4>
                        </div>
                    </div>
                    <button tuiButton tuiRipple [style.background-color]="'yellowgreen'" appearance="positive">Get Started Now</button>
                </div>
            </div>
    
            <div class="col-md-6 col-12 m-auto">
                <div style="opacity: 0.5;" class="uk-height-medium uk-background-cover uk-light"
                    sources="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80 650w,
                    https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=1300&h=866&q=80 1300w;
                            media: (min-width: 1200px)"
                    data-src="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80"
                    data-srcset="https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=650&h=433&q=80 650w,
                                https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg?fit=crop&w=1300&h=866&q=80 1300w"
                    sizes="(min-width: 650px) 650px, 100vw" uk-img styl>
                    <h1>Background Image</h1>
                </div>
            </div>
        </div>
    </om-dotpattern>
</div>
