:host{
    --tui-theme-color:rgb(0, 13, 0);
    --tui-background-accent-1:orange;
    --tui-background-accent-1-hover:rgb(214, 58, 58);
    --tui-text-primary:black;
    --tui-background-accent-1-pressed:yellow;
    --tui-background-base:rgb(255, 255, 255);
    --tui-text-primary-on-accent-1:black;
    --tui-text-primary-on-accent-2:black;
}