<div class="section" style="background-color: #10291e;">
  <div class=" desktop" id="desktop" style="background-image: url(coding.jpg);background-position: center;background-size: cover;">
    <div class="sub">
      <tui-chip id="chip"  [size]="'s'">
        <strong>More Services</strong>
      </tui-chip>
      <h3 tuiHeader [style.color]="'black'">
        <strong>
          Unlock Your Tech potential
        </strong>
      </h3>
      <div class="row justify-content-center d-flex" [style.color]="'black'" >      
        <div class="col-md-4  text-center">         
          <div tuiCardLarge class="m-2" tuiAppearance="warning">
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>
              <strong>
                Web Development
              </strong>
              <span tuiSubtitle>
                We design and develop modern, responsive websites that reflect your brand and deliver a seamless user experience across all devices.
              </span>
            </h3>
          </div>
  
          <div tuiCardLarge class="m-2" tuiAppearance="warning">
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>
              <strong>
                Mobile App Development
              </strong>
              <span tuiSubtitle>
                Our team builds high-performance mobile applications for both Android and iOS platforms — ideal for customer engagement, productivity, or internal operations.
              </span>
            </h3>
          </div>
        </div>
  
        
        <div class="col-md-4 text-center">
          <div class="container-wrapper" tuiAppearance="warning" tuiCardLarge>
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>Custom Software Solutions
              <span tuiSubtitle>
                From workflow automation to specialized business tools, we develop custom software tailored to your specific operational needs.
              </span>
            </h3>
            <div  tuiCardLarge class="m-auto" tuiAppearance="glass">
              <p>We help streamline operations by connecting your existing tools, platforms, and services into a unified, efficient ecosystem.</p>
            </div>
          </div>    
        </div>
  
  
        
        
        <div class="col-md-4  text-center" >       
          <div tuiCardLarge class="m-2" tuiAppearance="floating">
            <header tuiHeader class="dark" style="justify-content: center;">
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle class="dark">Business Dashboards & Reporting Tools
              <span tuiSubtitle class="dark">
                Gain visibility into your business with interactive dashboards that simplify data and support better decision-making.
              </span>
            </h3>
        </div>
  
  
        <div tuiCardLarge class="m-2" tuiAppearance="floating">
          <header tuiHeader class="dark">
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle class="dark">Ongoing Support & Maintenance
            <span tuiSubtitle>
              Your growth doesn’t stop — and neither do we. Count on reliable technical support, updates, and enhancements as your business evolves.
            </span>
          </h3>
      </div>
        
      </div>
    </div>
  </div>
  </div>

  
  <om-tracing-beam
  [tuiAppearance]="'neutral'"
  [gradientBottom]="'yellowgreen'"
  [gradientTop]="'white'"
  [gradientMiddle]="'lime'"
  [strokeColor]="'green'"
  >
     <!--  -->
  <!-- mobile -->
  <div class="content mobile" id="mobile" style="">
    <div class="sub">
      <tui-chip id="chip"  [size]="'s'">
        <strong>Our Services</strong>
      </tui-chip>
      <h3 tuiHeader [style.color]="'black'">
        <strong>
          Unlock Your Tech potential
        </strong>
      </h3>
      <div class="row justify-content-center d-flex" [style.color]="'black'" >      
        <div class="col-md-4  text-center">         
          <div tuiCardLarge class="m-2" tuiAppearance="warning">
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>
              <strong>
                Web Development
              </strong>
              <span tuiSubtitle>
                We design and develop modern, responsive websites that reflect your brand and deliver a seamless user experience across all devices.
              </span>
            </h3>
          </div>
  
          <div tuiCardLarge class="m-2" tuiAppearance="warning">
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>
              <strong>
                Mobile App Development
              </strong>
              <span tuiSubtitle>
                Our team builds high-performance mobile applications for both Android and iOS platforms — ideal for customer engagement, productivity, or internal operations.
              </span>
            </h3>
          </div>
        </div>
  
        
        <div class="col-md-4 text-center">
          <div class="container-wrapper" tuiAppearance="warning" tuiCardLarge>
            <header tuiHeader>
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle>Custom Software Solutions
              <span tuiSubtitle>
                From workflow automation to specialized business tools, we develop custom software tailored to your specific operational needs.
              </span>
            </h3>
            <div  tuiCardLarge class="m-auto" tuiAppearance="glass">
              <p>We help streamline operations by connecting your existing tools, platforms, and services into a unified, efficient ecosystem.</p>
            </div>
          </div>    
        </div>
  
  
        
        
        <div class="col-md-4  text-center" >       
          <div tuiCardLarge class="m-2" tuiAppearance="floating">
            <header tuiHeader class="dark" style="justify-content: center;">
              <tui-avatar tuiAvatarOutline src="@tui.user" />
            </header>
            <h3 tuiTitle class="dark">Business Dashboards & Reporting Tools
              <span tuiSubtitle class="dark">
                Gain visibility into your business with interactive dashboards that simplify data and support better decision-making.
              </span>
            </h3>
        </div>
  
  
        <div tuiCardLarge class="m-2" tuiAppearance="floating">
          <header tuiHeader class="dark">
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle class="dark">Ongoing Support & Maintenance
            <span tuiSubtitle>
              Your growth doesn’t stop — and neither do we. Count on reliable technical support, updates, and enhancements as your business evolves.
            </span>
          </h3>
      </div>
        
      </div>
    </div>
  </div>
  </div>
  </om-tracing-beam>
  
</div>
