<div tuiCardLarge tuiAppearance="glass" class="container">
    <div class="row justify-content-center" [style.color]="'black'">
      <tui-chip appearance="positive" [style.color]="'yellow'">Our Services</tui-chip>
      <h3 tuiHeader [style.color]="'yellow'">Unlock Your Tech potential</h3>

      <div class="col-md-4 card text-center">
        <div tuiCardLarge class="m-2">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>

        <div tuiCardLarge class="m-2">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>
      </div>




      <div class="col-md-4 card text-center" tuiAppearance="primary">
        <div tuiCardLarge class="m-2" [style.background-color]="'transparent'">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Wise Consulting
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>
        <div tuiCardMedium class=" card m-auto" >
          <img src="favicon.ico" alt="image">
        </div>
      </div>

      <div class="col-md-4 card text-center">       
        <div tuiCardLarge class="m-2">
          <header tuiHeader style="justify-content: center;">
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
      </div>





      <div tuiCardLarge class="m-2">
        <header tuiHeader>
          <tui-avatar tuiAvatarOutline src="@tui.user" />
        </header>
        <h3 tuiTitle>Investment Management
          <span tuiSubtitle>
            Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
          </span>
        </h3>
    </div>
      
    </div>
</div>