<div class=" uk-dark uk-dark" style="opacity: 0.6;background-color: transparent;background-image: url('https://images.pexels.com/photos/5475752/pexels-photo-5475752.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');background-position: center;background-repeat: no-repeat,repeat;background-size: cover;height:100%;">
    <div class="row justify-content-center d-flex" [style.color]="'black'" style="background:linear-gradient( -125deg,transparent 50%,rgb(165, 240, 15),rgb(167, 250, 1));width: 100%;">
      <tui-chip appearance="positive" [style.color]="'yellow'">Our Services</tui-chip>
      <h3 tuiHeader [style.color]="'yellow'">Unlock Your Tech potential</h3>

      <div class="col-md-4  text-center" tuiAppearance="positive">
        <div tuiCardLarge class="m-2" tuiAppearance="glass">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>



        <div tuiCardLarge class="m-2" tuiAppearance="glass">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>
      </div>

      <div class="col-md-4 text-center" >
        <div tuiCardLarge class="m-2" [style.background-color]="'transparent'">
          <header tuiHeader>
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Wise Consulting
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
        </div>
        <div tuiCardMedium class="  m-auto" >
          <img src="favicon.ico" alt="image">
        </div>
      </div>


      
      
      <div class="col-md-4  text-center" >       
        <div tuiCardLarge class="m-2" tuiAppearance="glass">
          <header tuiHeader style="justify-content: center;">
            <tui-avatar tuiAvatarOutline src="@tui.user" />
          </header>
          <h3 tuiTitle>Investment Management
            <span tuiSubtitle>
              Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
            </span>
          </h3>
      </div>


      <div tuiCardLarge class="m-2" tuiAppearance="glass">
        <header tuiHeader>
          <tui-avatar tuiAvatarOutline src="@tui.user" />
        </header>
        <h3 tuiTitle>Investment Management
          <span tuiSubtitle>
            Investment helps one secure their future in different ways. It may be in terms of pension, retirement plan etc.
          </span>
        </h3>
    </div>
      
    </div>
</div>