[tuiCardLarge],div,header,p,span,h1,h2,h3[tuiTitle],[tuiSubtitle]{
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

[tuiAvatarOutline]{
    color: chartreuse;
    background-color: green;
}