<div tuiCardLarge class="m-3" style="background-color: #10291e;">
    <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: white;">
        <strong>Case Studies</strong>
    </tui-chip>
    <div tuiCell class="desktop">
        <h3 class="display-6" tuiTitle>
            <strong>
                <span style="font-weight: bolder;">
                    Lets discover Our Clients' Recent Projects
                </span>
            </strong>
        </h3>
        <div class="indicators text-center">
            <button 
            tuiIconButton 
            iconStart="@tui.chevron-left" 
            (click)="carousel.prev()"
            appearance="positive"
            type="button"
            ></button>

            <button 
            tuiIconButton 
            iconStart="@tui.chevron-right" 
            (click)="carousel.next()"
            appearance="positive"
            type="button"
            class="m-2"
            ></button>
        </div>
    </div>

    <div tuiCarouselButtons class="desktop">
        <tui-carousel
        #carousel
        class="carousel justify-content-between"
        [itemsCount]="4"
        [duration]="3000"
        [draggable]="true"
        [tuiAppearance]="'neutral'"
        >
            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader>
                        <img src="/portfolio/vertexdanceclass.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Dance club
                            </span>
                        </h3>
                        <a href="https://vertexdanceclass.netlify.app"
                        target="_parent"
                         
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexdaycare.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Daycare APP
                            </span>
                        </h3>
                        <a href="https://vertexdaycare.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexdrinkingwater.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Drinking water company app
                            </span>
                        </h3>
                        <a href="https://vertexdrinkingwater.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexfitness.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Fitness App
                            </span>
                        </h3>
                        <a href="https://vertexfitness.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexinsurance.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Insurance Company App
                            </span>
                        </h3>
                        <a  href="https://vertexinsurance.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexpreschool.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Pre-school App
                            </span>
                        </h3>
                        <a href="https://vertexpreschool.netlify.app"
                        target="_parent"  
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexsaas.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Saas app
                            </span>
                        </h3>
                        <a href="https://vertexsaas.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexspa.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                SPA app
                            </span>
                        </h3>
                        <a href="https://vertexspa.netlify.app"
                        target="_parent"  
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexstock.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                SPA app
                            </span>
                        </h3>
                        <a href="https://vertexstock.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexyoga.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Yoga app
                            </span>
                        </h3>
                        <a href="https://vertexyoga.netlify.app"
                        target="_parent"  
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>
        </tui-carousel>
        </div>

        <!-- mobile -->
        <div tuiCell class="mobile">
            <h3 class="display-6">
                <strong style="font-weight: 400;">Lets discover Our Clients' Recent Projects</strong>
            </h3>
            
        </div>
        <div tuiCarouselButtons class="mobile">
            <tui-carousel
            #carouselmobile
            class="carousel justify-content-between"
            [itemsCount]="1"
            [duration]="3000"
            [draggable]="true"
            [tuiAppearance]="'neutral'"
            [draggable]="true"

            >
            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader>
                        <img src="/portfolio/vertexdanceclass.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Dance club
                            </span>
                        </h3>
                        <a href="https://vertexdanceclass.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexdaycare.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Daycare APP
                            </span>
                        </h3>
                        <a href="https://vertexdaycare.netlify.app"
                        target="_parent" 
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexdrinkingwater.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Drinking water company app
                            </span>
                        </h3>
                        <a href="https://vertexdrinkingwater.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexfitness.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Fitness App
                            </span>
                        </h3>
                        <a href="https://vertexfitness.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexinsurance.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Insurance Company App
                            </span>
                        </h3>
                        <a href="https://vertexinsurance.netlfy.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexpreschool.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Pre-school App
                            </span>
                        </h3>
                        <a href="https://vertexpreschool.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexsaas.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Saas app
                            </span>
                        </h3>
                        <a href="https://vertexsaas.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexspa.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                SPA app
                            </span>
                        </h3>
                        <a href="https://vertexspa.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/portfolio/vertexstock.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Stock app
                            </span>
                        </h3>
                        <a href="https://vertexstock.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>

            <div *tuiItem>
                <div class="" tuiCardLarge tuiAppearance="positive">
                    <header tuiHeader="xxl">
                        <img src="/public/portfolio/vertexyoga.png" alt="">
                    </header>
                    <div tuiCell>
                        <h3 tuiTitle class="text-light">
                            <span style="color:white">
                                Yoga app
                            </span>
                        </h3>
                        <a href="https://vertexyoga.netlify.app" 
                        target="_parent"
                        tuiIconButton 
                        iconStart="@tui.arrow-up-right"
                        appearance="positive" ></a>
                    </div>
                </div>
            </div>
            </tui-carousel>
            <div class="indicators text-center">
                <button 
                tuiIconButton 
                iconStart="@tui.chevron-left" 
                (click)="carouselmobile.prev()"
                appearance="positive"
                type="button"
                ></button>
    
                <button 
                tuiIconButton 
                iconStart="@tui.chevron-right" 
                (click)="carouselmobile.next()"
                appearance="positive"
                type="button"
                class="m-2"
                ></button>
            </div>
            </div>
            <!-- mobile -->
    
</div>
