<div class="card" >
    <tui-chip appearance="positive">
        How It Works
    </tui-chip>

    <h3 tuiHeader>
        Vertex Work Process
    </h3>
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-3 col-6">
                <div tuiCardMedium tuiAppearance="positive">
                    <img src="favicon.ico" alt="">
                </div>
                <header tuiHeader tuiBadge appearance="positive">1</header>
                <h4 tuiTitle>On Discussion
                    <span tuiSubtitle>
                        This is the subtitle. this is where the info is explained
                    </span>
                </h4>
            </div>
    
    
            <div class="col-md-3 col-6">
                <div tuiCardMedium tuiAppearance="positive">
                    <img src="favicon.ico" alt="">
                </div>
                <header tuiHeader tuiBadge appearance="positive">2</header>
                <h4 tuiTitle>On Discussion
                    <span tuiSubtitle>
                        This is the subtitle. this is where the info is explained
                    </span>
                </h4>
            </div>
    
    
            <div class="col-md-3 col-6">
                <div tuiCardMedium tuiAppearance="positive">
                    <img src="favicon.ico" alt="">
                </div>
                <header tuiHeader tuiBadge appearance="positive">3</header>
                <h4 tuiTitle>On Discussion
                    <span tuiSubtitle>
                        This is the subtitle. this is where the info is explained
                    </span>
                </h4>
            </div>
    
    
            <div class="col-md-3 col-6">
                <div tuiCardMedium tuiAppearance="positive">
                    <img src="favicon.ico" alt="">
                </div>
                <header tuiHeader tuiBadge appearance="positive">4</header>
                <h4 tuiTitle>On Discussion
                    <span tuiSubtitle>
                        This is the subtitle. this is where the info is explained
                    </span>
                </h4>
            </div>

        </div>
    </div>
    
</div>