 <div class=" section " style="background-color: #10291e;" tuiCardLarge>
    <om-flickering-grid 
 tuiAppearance=""
 color="darkgreen" 
 [flickerChance]="1" 
 style="background-color: transparent;"
 [gridGap]="10" 
 [maxOpacity]="0.5" 
 [squareSize]="5"
 class="">
 
 <div class="timeline-wrapper" tuiAppearance="" >
    <h1 class=" display-6 text-light">
      How It Works
      <om-neon-underline [middleColor]="'green'" [sideColor]="'yellowgreen'"></om-neon-underline>
    </h1>
    <om-timeline
    class="fw-bold  text-light m-auto"
    style="color: rgb(0, 36, 3);"
      [data]="data1"
      [entryGap]="'1rem'"
      [titleMaxWidth]="'15rem'"
      [orientation]="'switch'"
      [pathColor]="'green'"
      [gradientColors]="['lime','#00FF91FF']"
    ></om-timeline>
</div>

</om-flickering-grid>
<div>
    <p tuiTitle class="fw-bold mb-3 text-light">Looking for Something Else?
        <span tuiSubtitle class="fw-bold mb-3 text-light">
            If you have a unique project or need a solution not listed above, we’re happy to help.At Vertex, we offer flexible, custom tech services tailored to your vision — just reach out and let’s explore what we can build together.
        </span>
    </p>
</div>
</div>