<div class="section" style="background-color: #10291e;">
    <div class="testimonial" tuiAppearance="" style="border-color: transparent;box-shadow: none;"> 
        <div class="">
            <div class=" mobile">
                <!-- mobile -->
                <div class=" m-auto" class="">
                    <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: black;" class="mx-5 mb-3 mt-3">
                        <strong>
                            Testimonials
                        </strong>
                    </tui-chip>
                    <tui-segmented 
                    [(activeItemIndex)]="segmentedIndex"
                    size="l"
                    [style.flex-direction]="'row'"
                    [style.width]="'fit-content'"
                    style="float: inline-end;"
                    tuiAppearance=""
                    style="overflow: scroll;zoom:60%"
                    class="m-auto"
                    > 
                        <button
                        type="button"
                        tuiAppearance="glass"
                        class="m-2"
                        >
                            <tui-avatar
                                size="xs"
                                src="https://avatars.githubusercontent.com/u/11832552"/>
                                <h3 tuiTitle class="text-white"><strong>Emily Carter</strong>
                                    <span  tuiSubtitle class="text-white">Product Manager</span>
                                </h3>
                        </button>
    
                        <button
                        type="button"
                        tuiAppearance="glass"
                        class="m-2"
                        >
                            <tui-avatar
                                size="xs"
                                src="https://avatars.githubusercontent.com/u/11832552"/>
                                <h3 tuiTitle class="text-white"> <strong>Daniel Mwangi</strong>
                                    <span   tuiSubtitle class="text-white">Web Designer</span>
                                </h3>
                        </button>
    
    
                        
                        <button
                        type="button"
                        tuiAppearance="glass"
                        class="m-2"
                        >
                            <tui-avatar
                                size="xs"
                                src="https://avatars.githubusercontent.com/u/11832552"/>
                                <h3 tuiTitle class="text-white"><strong>Hana Kim</strong>
                                    <span  tuiSubtitle class="text-white">Operations Lead</span>
                                </h3>
                        </button>
                    </tui-segmented>
                </div> 

                <div class="m-3">
                    <ng-container [ngSwitch]="segmentedIndex" tuiAppearance="positive">
                        <ng-container *ngSwitchCase="0">
                            <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                <div class="container-wrapper" tuiAppearance="glass">
                                    <div tuiCell>
                                        <h2 tuiTitle>
                                            <tui-rating disabled="true" class="rating"  ngModel="5"
                                            icon="star-filled" />
                                        </h2>
                                        <div><tui-icon icon="@tui.quote" /></div>
                                    </div>
                                    Working with Michael's team was a game-changer. They delivered a clean, scalable frontend ahead of schedule, and the UX has already boosted engagement across the board
                                    <div tuiCell tuiAppearance="positive">
                                        <tui-avatar appearance="positive" src="@tui.user"/>
                                        <div tuiTitle>Emily Carter
                                            <span  tuiSubtitle class="text-white">
                                                Product Manager, NovaTech Solutions
                                            </span>
                                        </div>
            
                                        <!-- <div tuiAccessories>
                                            <tui-avatar src="@tui.linkedin"/>
                                            <strong>Entrepreneur</strong>
                                        </div> -->
                                    </div>
                                </div>

                            </om-shine-border>
                        </ng-container>
    
                    
                        <ng-container *ngSwitchCase="1">
                            <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                <div class="container-wrapper" tuiAppearance="glass">
                                    <div tuiCell>
                                        <h2 tuiTitle>
                                            <tui-rating disabled="true" ngModel="5"
                                            icon="star-filled" />
                                        </h2>
                                        <div><tui-icon icon="@tui.quote" /></div>
                                    </div>
                                    From ideation to deployment, the professionalism was top-tier. The communication, design thinking, and technical execution were all spot on
                                    <div tuiCell tuiAppearance="positive">
                                        <tui-avatar appearance="positive" src="@tui.user"/>
                                        <div tuiTitle> Daniel Mwangi
                                            <span  tuiSubtitle class="text-white">
                                                Web Designer
                                            </span>
                                        </div>
            
                                        <!-- <div tuiAccessories>
                                            <tui-avatar src="@tui.linkedin"/>
                                            <strong>Brand</strong>
                                        </div> -->
                                    </div>
                                </div>
                            </om-shine-border>
                        </ng-container>
                        
                        
                        <ng-container *ngSwitchCase="2" >
                            <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                <div class="container-wrapper" tuiAppearance="glass">
                                    <div tuiCell>
                                        <h2 tuiTitle>
                                            <tui-rating disabled="true" ngModel="5"
                                            icon="star-filled" />
                                        </h2>
                                        <div><tui-icon icon="@tui.quote" /></div>
                                    </div>
                                    Their multinational eCommerce integration was flawless. I’ve worked with many devs before, but this team stands out in terms of reliability and cultural insight.
                                    <div tuiCell tuiAppearance="positive">
                                        <tui-avatar appearance="positive" src="@tui.user"/>
                                        <div tuiTitle>Hana Kim
                                            <span  tuiSubtitle class="text-white">
                                                Operations Lead
                                            </span>
                                        </div>
            
                                        <!-- <div tuiAccessories>
                                            <tui-avatar src="@tui.linkedin"/>
                                            <strong>Brand</strong>
                                        </div> -->
                                    </div>
                                </div>
                            </om-shine-border>
                        </ng-container>
    
                    </ng-container>
                </div>
                <!-- end of mobile -->
    
                
                
            </div>
            
            <!-- ddesktop -->
            
             <div class="desktop">
                <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: black;width: fit-content;" class="mx-5 mb-3 mt-2">
                    <strong>
                        Testimonials
                    </strong>
                </tui-chip>
                <div class="row  m-3">
                
                    <div class="col-md-9">
                        <ng-container [ngSwitch]="segmentedIndex" tuiAppearance="">
                            <ng-container *ngSwitchCase="0">
                                <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                    <div class="container-wrapper" tuiAppearance="glass">
                                        <div tuiCell>
                                            <h2 tuiTitle>
                                                <tui-rating disabled="true" disabled="true" class="rating"  ngModel="5"
                                                icon="star-filled" />
                                            </h2>
                                            <div><tui-icon icon="@tui.quote" /></div>
                                        </div>
                                        Working with Michael's team was a game-changer. They delivered a clean, scalable frontend ahead of schedule, and the UX has already boosted engagement across the board
                                        <div tuiCell tuiAppearance="positive" class="m-2">
                                            <tui-avatar appearance="positive" src="@tui.user"/>
                                            <div tuiTitle>Emily Carter
                                                <span  tuiSubtitle class="text-white">
                                                    Product Manager
                                                </span>
                                            </div>
                
                                            <!-- <div tuiAccessories>
                                                <tui-avatar src="@tui.linkedin"/>
                                                <strong>Entrepreneur</strong>
                                            </div> -->
                                        </div>
                                    </div>
                                </om-shine-border>
                            </ng-container>
        
        
                            <ng-container *ngSwitchCase="1">
                                <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                    <div class="container-wrapper" tuiAppearance="glass">
                                        <div tuiCell>
                                            <h2 tuiTitle>
                                                <tui-rating disabled="true" ngModel="5"
                                                icon="star-filled" />
                                            </h2>
                                            <div><tui-icon icon="@tui.quote" /></div>
                                        </div>
                                        From ideation to deployment, the professionalism was top-tier. The communication, design thinking, and technical execution were all spot on.
                                        <div tuiCell tuiAppearance="positive">
                                            <tui-avatar appearance="positive" src="@tui.user"/>
                                            <div tuiTitle>Daniel Mwangi
                                                <span  tuiSubtitle class="text-white">
                                                    Web Designer
                                                </span>
                                            </div>
                
                                            <!-- <div tuiAccessories>
                                                <tui-avatar src="@tui.linkedin"/>
                                                <strong>Brand</strong>
                                            </div> -->
                                        </div>
                                    </div>
                                </om-shine-border>
                            </ng-container>
                            
                            
                            <ng-container *ngSwitchCase="2" >
                                <om-shine-border borderColor="transparent" [borderRadius]="'15px'" gradientColorStart="green" gradientColorMiddle="lime" gradientColorEnd="yellowgreen"  tuiAppearance="glass">
                                    <div class="container-wrapper" tuiAppearance="glass">
                                        <div tuiCell>
                                            <h2 tuiTitle>
                                                <tui-rating disabled="true" ngModel="5"
                                                icon="star-filled" />
                                            </h2>
                                            <div><tui-icon icon="@tui.quote" /></div>
                                        </div>
                                        Their multinational eCommerce integration was flawless. I’ve worked with many devs before, but this team stands out in terms of reliability and cultural insight
                                        <div tuiCell tuiAppearance="positive">
                                            <tui-avatar appearance="positive" src="@tui.user"/>
                                            <div tuiTitle>Hana Kim
                                                <span  tuiSubtitle class="text-white">
                                                    Operations Lead
                                                </span>
                                            </div>
                
                                            <!-- <div tuiAccessories>
                                                <tui-avatar src="@tui.linkedin"/>
                                                <strong>Brand</strong>
                                            </div> -->
                                        </div>
                                    </div>
                                </om-shine-border>
                            </ng-container>
        
                        </ng-container>
                    </div>
            
                    
                    
                    <div class="col-md-3">
                        <tui-segmented 
                        [(activeItemIndex)]="segmentedIndex"
                        size="l"
                        [style.flex-direction]="'column'"
                        [style.width]="'fit-content'"
                        style="float: inline-end;"
                        tuiAppearance="positive"
                        >
                            <button
                            type="button"
                            tuiAppearance="positive"
                            class="m-2"
                            >
                                <tui-avatar
                                    size="xs"
                                    src="https://avatars.githubusercontent.com/u/11832552"/>
                                    <h3 tuiTitle class="text-white"><strong>Emily Carter</strong>
                                        <span  tuiSubtitle class="text-white">Product Manager</span>
                                    </h3>
                            </button>
        
                            <button
                            type="button"
                            tuiAppearance="positive"
                            class="m-2"
                            >
                                <tui-avatar
                                    size="xs"
                                    src="https://avatars.githubusercontent.com/u/11832552"/>
                                    <h3 tuiTitle class="text-white"> <strong> Daniel Mwangi</strong>
                                        <span  tuiSubtitle class="text-white">Web Designer</span>
                                    </h3>
                            </button>
        
        
                            
                            <button
                            type="button"
                            tuiAppearance="positive"
                            class="m-2"
                            >
                                <tui-avatar
                                    size="xs"
                                    src="https://avatars.githubusercontent.com/u/11832552"/>
                                    <h3 tuiTitle class="text-white"><strong> Hana Kim</strong>
                                        <span  tuiSubtitle class="text-white">Operations Lead</span>
                                    </h3>
                            </button>
                        </tui-segmented>
                    </div>
                 </div>
             </div>
        </div>
    </div>
    
</div>