<div class="m-3" tuiAppearance=""  style="background-color: #10291e;" >
    <!-- background: linear-gradient(210deg,transparent 50%, rgb(220, 238, 171) 0%, rgba(184,249,31,1) 0%, rgba(255,255,255,1) 50%);border: 0px solid transparent;" -->
        <div tuiAppearance="positive" tuiCardLarge>
            <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: white;">
                <strong>
                    Meet Our Team
                </strong>
            </tui-chip>
         
            <h3 tuiHeader class="text-light m-3" style="font-weight: bolder;">
                Meet our Expert team
            </h3>
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="glass">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: lighter;">On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="info">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="negative">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="glass">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
        
                </div>
            </div>
            
        </div>
    </div>