<div class="m-3" tuiAppearance=""  style="background-color: #10291e;" >
    <!-- background: linear-gradient(210deg,transparent 50%, rgb(220, 238, 171) 0%, rgba(184,249,31,1) 0%, rgba(255,255,255,1) 50%);border: 0px solid transparent;" -->
        <div tuiAppearance="positive" tuiCardLarge>
            <tui-chip appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: white;">
                <strong>
                    Meet Our Team
                </strong>
            </tui-chip>
         
            <h3 tuiHeader class="text-light m-3" style="font-weight: bolder;">
                Meet our Expert team
            </h3>
            <div class="">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-3 col-6 m-auto gap-1">
                        <div tuiCardMedium tuiAppearance="glass" class="one">
                            
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">Michael owino
                            <span tuiSubtitle>
                                #Frontend Developer
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6 m-auto gap-1">
                        <div tuiCardMedium tuiAppearance="info" class="two">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">Sasha Kimani
                            <span tuiSubtitle>
                                #X/UI Designer
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6 m-auto gap-1">
                        <div tuiCardMedium tuiAppearance="negative" class="three">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">Jared K. Langat 
                            <span tuiSubtitle>
                                Backend Developer
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6 m-auto gap-1" >
                        <div tuiCardMedium tuiAppearance="glass" class="four">
                        </div>
                        <h4 tuiTitle class="text-light" style="font-weight: bolder;">Fatma Noor
                            <span tuiSubtitle>
                                QA & Automation Engineer
                            </span>
                        </h4>
                    </div>
        
                </div>
            </div>
            
        </div>
    </div>