header,p,span,h1,h2,h3[tuiTitle],[tuiSubtitle]{
    // justify-content: center;
    // justify-items: center;
    // justify-self: center;
    // text-align: center;
    // background: linear-gradient(-125deg,rgb(76, 224, 7),black 80%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: large;
    font-weight: lighter;
    line-height: max;
    padding: 1px;
    
}
@media screen{
    @media (max-width:600px){
        header,p,span,h1,h2,h3[tuiTitle],[tuiSubtitle]{
            // justify-content: center;
            // justify-items: center;
            // justify-self: center;
            // text-align: center;
            // background: linear-gradient(-125deg,rgb(76, 224, 7),black 80%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-size: large;
            font-weight: bold;
            line-height: max;
            
        }
    }
  };

  @media screen{
    @media (min-width:601px){
        header,p,span,h1,h2,h3[tuiTitle],[tuiSubtitle]{
            // justify-content: center;
            // justify-items: center;
            // justify-self: center;
            // text-align: center;
            // background: linear-gradient(-125deg,rgb(76, 224, 7),black 80%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-size: large;
            font-weight: bold;
            line-height: max;
            font-family: cursive;
        }
    }
  };

  .one{
    background: url('/avatars/aikeee.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;
  }

  .two{
    background: url('/avatars/avataaars.png');background-size: cover;background-position: center;background-repeat: no-repeat;
  }

  .three{
    background: url('/avatars/ccc.avif');background-size: cover;background-position: center;background-repeat: no-repeat;
  }

  .four{
    
    background: url('/avatars/hijab.png');background-size: cover;background-position: center;background-repeat: no-repeat;
  }