<div class="card"  style="background: rgb(186,246,27);
background: linear-gradient(210deg,transparent 50%, rgb(220, 238, 171) 0%, rgba(184,249,31,1) 0%, rgba(255,255,255,1) 50%);border: 0px solid transparent;" >
        <div class="" tuiAppearance="positive">
            <tui-chip appearance="positive">
                Meet Our Team
            </tui-chip>
        
            <h3 tuiHeader>
                Meet our Expert team
            </h3>
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="positive">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle>On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="positive">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle>On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="positive">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle>On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
            
            
                    <div class="col-md-3 col-6">
                        <div tuiCardMedium tuiAppearance="positive">
                            <img src="favicon.ico" alt="">
                        </div>
                        <h4 tuiTitle>On Discussion
                            <span tuiSubtitle>
                                This is the subtitle. this is where the info is explained
                            </span>
                        </h4>
                    </div>
        
                </div>
            </div>
            
        </div>
    </div>