<div class=" uk-dark uk-dark" id="main" style="background-image: url('calltoaction.webp');" loading="lazy">
    <div class="row d-flex" id="mainRow">
        <div class="col-md-6 col-12">
            <div class="m-4">
                <tui-chip class="chip" appearance="positive" [size]="'s'" [style.background-color]="'yellowgreen'" style="text-transform: uppercase;color: black;">
                    <strong tuiFade><marquee [loop]="3" >Strategic Tech solution for business growth</marquee></strong>
                </tui-chip>
                <!-- <om-cryptic-text [text]="'Welcome to vertex'" styleClass="cryptic-text" class="display-4 m-2"/> -->
                 <br>
                <h2 class="mb-3 text-white fw-bold display-6">
                    Proactive Tech Solutions For Your Unique Goals
                </h2>
                <p class="p">
                    <strong>
                        We are dedicated providing personalized every tech service that empower you to grow your business
                    </strong>
                </p>
                <button tuiButton appearance="positive" tuiRipple>Start Your Growth Journey</button>
            </div>
        </div>
        
        <div class="col-md-6 col-12 d-lg-block p-4">
            <div class="row" id="charts">
                <div class="col-md-6 col-12 mb-lg-5 p-3 left">
                    <div tuiCardMedium class="mt-5" style="height: fit-content;border: 0px solid transparent;" tuiAppearance="elevated" >
                        <div tuiCell p-2>
                            <tui-avatar src="@tui.chart-no-axes-column" style="background-color: darkgreen;color: white;" />
                        <div tuiTitle style="color: black;">
                            <span tuiSubtitle>Earnings</span>
                            <span style="font-weight: bold;">$3500+</span>
                        </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-12 float-end justify-content-end">
                    <div tuiCardMedium class="mt-5" style="height: fit-content;" tuiAppearance="elevated" >
                        <div tuiCell p-2>
                            <tui-avatar src="@tui.users" style="background-color: darkgreen;color: white;" />
                        <div tuiTitle style="color: black;">
                            <span tuiSubtitle>New Clients</span>
                            <span style="font-weight: bold;">200+</span>
                        </div>
                        </div>
                        <tui-axes
                            class="axes"
                            [horizontalLines]="2"
                            [verticalLines]="4"   
                            tuiRipple                         
                        >
                            <tui-line-chart
                                [filled]="true"
                                [height]="200"
                                [smoothingFactor]="60"
                                [value]="value"
                                [width]="400"
                                [x]="0"
                                [y]="0"
                                tuiRipple
                                [tuiAppearance]="'positive'"
                            />
                        </tui-axes>

                    </div>

                    <div tuiCardMedium class="mt-5" style="height: fit-content;" tuiAppearance="elevated" >
                        <div tuiCell p-2>
                            <tui-avatar src="@tui.chart-no-axes-combined" style="background-color: darkgreen;color: white;" />
                        <div tuiTitle style="color: black;">
                            <span tuiSubtitle>Investments</span>
                            <span style="font-weight: bold;">$10000+</span>
                        </div>
                        </div>

                        <tui-axes
                            class="barAxes"
                            [axisXLabels]="labelsX"
                            [axisYLabels]="labelsY"
                            tuiRipple
                        >
                            <tui-bar-chart
                            [collapsed]="true"
                                [max]="1000"
                                [value]="barValue" 
                                tuiRipple
                            />
                        </tui-axes>

                    </div>
                </div>
                
            </div>
        </div>
</div>

