<div class=" uk-dark uk-dark" style="opacity: 0.8;">
    <div class="row">
        <div class="col-md-6 col-12">
            <tui-chip [appearance]="'neutral'">
                Strategic solution for financial growth
            </tui-chip>
            <om-cryptic-text [text]="'Welcome to vertex'" styleClass="cryptic-text" class="display-4"></om-cryptic-text>
            <h2 class="display-4">
                Proactive Tech Solutions For Your Unique Goals
            </h2>
            <p>
                We are dedicated providing personalized every tech service that empower you to take control
            </p>
            <button tuiButton appearance="positive">Start Your Financial Journey</button>
        </div>
        
        <div class="col-md-6 col-12">
            <div style="opacity: 0.9;background-color: transparent;background-image: url('https://cdn.pixabay.com/photo/2019/03/07/13/23/startup-4040169_1280.jpg');background-position: center;
            background-repeat: no-repeat;background-size: cover;height:100%;">
            <h1>Background Image</h1>
        </div>
        </div>
    </div>
</div>

