<div class=" uk-dark uk-dark" style="opacity: 0.5;background-color: transparent;background-image: url(laptop6.webp);background-image: url(calltoaction.webp);background-position: center;
background-repeat: no-repeat,repeat;background-size: cover; background-blend-mode: luminosity;height:100%;
">
    <div class="row">
        <div class="col-md-6 col-12">
            <tui-chip [appearance]="'neutral'">
                Strategic solution for financial growth
            </tui-chip>
            <om-cryptic-text [text]="'Welcome to vertex'" styleClass="cryptic-text" class="display-4"></om-cryptic-text>
            <h2 class="display-4">
                Proactive Tech Solutions For Your Unique Goals
            </h2>
            <p>
                We are dedicated providing personalized every tech service that empower you to take control
            </p>
            <button tuiButton appearance="positive">Start Your Financial Journey</button>
        </div>
        
        <div class="col-md-6 col-12">
            <div >
            <h1>Background Image</h1>
        </div>
        </div>
    </div>
</div>

