// @media screen{
//     @media  (min-width: 600px) {
        
//     }
// };

div,h,a{
    color:aliceblue;
}

.left{
    left:0;
    bottom:0;
    justify-self: baseline;
}   

.mt-5 {
    background: rgb(226, 245, 226);
    padding: 0.75rem;
    color: #fff;
    inline-size: 13.9375rem;
    block-size: 8rem;
 
    [tuiSubtitle],[tuiTitle] {
        color: black;
    }
}

.axes {
    block-size: 5rem;
    inline-size: 15rem;
    color: darkgreen;
}

.barAxes {
    block-size: 7rem;
    inline-size: 35rem;
    color: darkgreen;
    --tui-chart-categorical-00: darkgreen;
    --tui-chart-categorical-01: yellowgreen;
}

